.thumbnail {
  cursor: pointer;
  transition: transform 0.2s;
  overflow: hidden !important;
}

.thumbnail:hover img {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

.close {
  position: absolute;
  top: 10px;
  right: 0px;
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  margin: 0 -50px;
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.gallery-container {
  width: 85%;
  margin: auto;
}

.photogallery {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

.column {
  flex: 1 1 calc(33.33% - 20px); 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-container img {
  width: 100%;
  border: solid 2px white;
  transition: transform 0.5s;
}

@media (max-width: 900px) {
  .column {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 600px) {
  .column {
    flex: 1 1 100%;
  }
}
